html, body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.logo img {
    width: 150px;
    height: 150px;
}

.bg, .bg .origin {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: background-image 0.5s ease-out;
    -moz-transition: background-image 0.5s ease-out;
    -ms-transition: background-image 0.5s ease-out;
    transition: background-image 0.5s ease-out;
}

.bg .origin {
    background-image: url('./image/day.webp?v=1683443010000');
    filter: blur(3px); 
    opacity: 1;
    -webkit-transition: background-image 0.5s ease-out, opacity 0.5s ease-out;
    -moz-transition: background-image 0.5s ease-out, opacity 0.5s ease-out;
    -ms-transition: background-image 0.5s ease-out, opacity 0.5s ease-out;
    transition: background-image 0.5s ease-out, opacity 0.5s ease-out;
}

.text-banner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.text-banner .title {
    font-size: 60px;
}

.text-banner .subtitle {
    display: none;
    margin-top: 16px;
    font-size: 22px;
    display: block;
}

.text-banner,
.text-banner .title,
.text-banner .subtitle,
.text-banner .subtitle a {
    color: #FFF;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    color: #FFF;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.footer a {
    color: #FFF;
}

@media (prefers-color-scheme: dark) {
    .bg .origin {
        background-image: url('./image/night.webp?v=1683443010000');
        filter: blur(3px); 
    }
    .footer {
        color: #FFF;
    }
}

@media screen and (max-width: 650px) {
    .text-banner .title {
        padding: 12px;
        padding-bottom: 0;
        font-size: 36px;
    }

    .text-banner .subtitle {
        margin-top: 8px;
        font-size: 14px;
    }

    .footer {
        bottom: 4px;
        font-size: 8px;
    }
}
